src/plic/PlicParser.java
src/plic/PlicLexer.java

src/plic/Plic.tokens
src/output

tree/input/*
tree/output/*
tree/*.class

tds/input/*
tds/output/*

asm/src/*
asm/bin/*

bin/

*.pdf
*.jar
antlr.jar

src/.metadata
.metadata
.settings
.classpath
.project
