*.jar
*.pdf
.metadata
.settings
src/.metadata
plic/PlicParser.java
plic/PlicLexer.java
antlr.jar
bin/
src/plic/Plic.tokens
src/output
tree/input/*
tree/output/*
tree/*.class
tds/input/*
tds/output/*
.classpath
.project
